.features-card{
    background: #B3B0E9;
    border-radius: 30px;
    box-shadow: 2px 4px 20px 5px rgba(88, 83, 190, 0.25);
    height: 450px;
}
.features-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    text-align: center;
    color: #1E1B61;
}
.features-text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 150%;
    text-align: center;
    color: #030309;
}
@media (max-width:576px) {
    .features-card{
        height: 480px;
    }
}