footer{
    background: #1E1B61;
}
.footer-img{
    width: 259px;
    height: 44.76px;
}
.social {
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    margin-top: -20px;
    margin-right: 10px;
}
.footer-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    color: #F9F9FB;
}
.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 150%;
    color: #F9F9FB;
    text-decoration: none !important;
}
.copyright{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 150%;
    color: #F9F9FB;
}
@media(max-width:576px){
    .social{
        font-size: 3rem;
    }
    .footer-title {
        font-size: 1.5rem;
    }
    .footer-text{
        font-size: 1rem;
    }
}