.tutorial{
    background: #E1E0F6;
    border-radius: 80px 80px 0px 0px;
    padding-top: 20%;
    margin-top: -25%;
}
.tutorial-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: #1E1B61;
}
.tutorial-title-bold{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 150%;
    color: #1E1B61;
}
.tutorial-text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    color: #030309;
}
@media(max-width:576px){
    .tuto2{
        flex-direction: column-reverse;
    }
}